.app {
    margin-top: 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 2px 2px 3px #aaaaaa;
    padding: 10px;
}
.common-selected{
    color: red;
    font-weight:bold; 
}